<a href="https://colab.research.google.com/github/SamDavis630/Samantha_INFO5731_Summer2022/blob/main/INFO_5502_Summer22_lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (07/15/2022 11:59'AM' to 7/19/2022 11:59PM, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (6 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [8]:

#define x
from collections import Counter
x = "my name is Samantha"
# count characters in string from counter
collection = Counter(x)
# display sum of list
print (collection)

Counter({'a': 4, 'm': 3, ' ': 3, 'n': 2, 'y': 1, 'e': 1, 'i': 1, 's': 1, 'S': 1, 't': 1, 'h': 1})

(2) Write a Python program to sum all the items in a list. (6 points)

In [15]:
# create list 
list1 = [2,4,6,8,10]
# display sum all items in the list
print (sum(list1))

30

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (6 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [94]:
#create a string
string2 = "amanda"

#Defining "a"=$
a = "$"

#replacing all "a" except first character
string3 = string2[0] + string2 [1:].replace(string2[0],a)

#display new string
print(string3)

am$nd$

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (6 points)

In [20]:
#define equation
def s_vars(a,b):
    s=3.14*(1+a/b)**3
    return s

#equation inputs
solution=s_vars(24,8)

#print equation answer
print(solution)

200.96

(5) Write a Python program to concatenate following dictionaries to create a new one. (6 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [72]:

# Create three dictionaries
dic1 = {'1:10','2:20'}
dic2 = {'3:30','4:40'}
dic3 = {'5:50','6:60'}

# Concatenate the three dictionaries
dic4 = {"dic1": dic1,"dic2": dic2,"dic3":dic3}

#Display new dictionary
print (dic4)

{'dic1': {'1:10', '2:20'}, 'dic2': {'3:30', '4:40'}, 'dic3': {'6:60', '5:50'}}

(6) Write a Python program to check whether an element exists within a tuple. (6 points)

In [73]:
# Tuple created
tuple1 = ("student", "professor", "grades", "assignments", 200)

#Display elements in tuple1
print(tuple1)

('student', 'professor', 'grades', 'assignments', 200)

(7) Write a Python program to find maximum and the minimum value in a set. (6 points)

In [76]:
# Set created
set1 = (25,75,125,100,500, 50,1000)

#Disply maximum and minimum value
print(max(set1), min(set1))

1000 25

(8) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (8 points)

In [84]:
#Array created
testscores = [98,65,44,10,93,73,74,92,47,94,50,40,36,7,28,99,44,73]

#Identify duplicates
dups = [number for number in testscores if testscores.count(number) > 1]
unique_dups = list(set(dups))

#Display Duplicates
print(dups)

[44, 73, 44, 73]